<%= form_with model: [list, bookmark], local: true do |form| %>
  <div>
    <%= form.label :movie_id, 'Movie' %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title %>
  </div>
  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  <div>
    <%= form.submit 'Add Bookmark' %>
  </div>
<% end %>
